<h1><%= t('registration.login') %></h1>

<% form_for @user_session do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit t('registration.submit') %>
  </p>

<% end %>
