<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OpenKlean</title>
  </head>

  <body>
    <p style="color: green"><%= flash[:notice] %></p>
    
    <%= link_to t('registration.signup'), signup_path %>
    <%= link_to t('registration.login'), login_path %>
    <%= yield %>
    <%= render :partial => "layouts/analytics" %>
  </body>

</html>
